*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #212529;
}

.slide, .carousel-inner, .carousel-item {
    height: 500px;
}

.slide img{
    object-fit: cover;
}


.cards{
    width: 100%;
    flex-flow: row wrap;
    gap: 1rem;
}
